@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Museo";
  src: url("../../fonts/MuseoSansCyrl_1.eot");
  src: local("☺"), url("../../fonts/MuseoSansCyrl_1.woff") format("woff"), url("../../fonts/MuseoSansCyrl_1.ttf") format("truetype"), url("../../fonts/MuseoSansCyrl_1.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Museo";
  src: url("../../fonts/MuseoSansCyrl_2.eot");
  src: local("☺"), url("../../fonts/MuseoSansCyrl_2.woff") format("woff"), url("../../fonts/MuseoSansCyrl_2.ttf") format("truetype"), url("../../fonts/MuseoSansCyrl_2.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Museo";
  src: url("../../fonts/MuseoSansCyrl_3.eot");
  src: local("☺"), url("../../fonts/MuseoSansCyrl_3.woff") format("woff"), url("../../fonts/MuseoSansCyrl_3.ttf") format("truetype"), url("../../fonts/MuseoSansCyrl_3.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
body {
  min-height: 100%;
  font-family: "Museo", sans-serif;
}

.container {
  max-width: 390px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  padding: 50px 0 0 0;
}

.logo {
  margin: 0 0 145px 0;
  text-align: center;
}

.img {
  margin: 0 0 40px 0;
  text-align: center;
}

.title h1 {
  font-size: 36px;
  color: #2A2A2A;
  font-weight: 700;
  margin: 0 0 80px 0;
  text-align: center;
}

.btn {
  width: 100%;
  padding: 15px 0;
  background-color: #3B69DE;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
  cursor: pointer;
  margin: 0 0 30px 0;
  text-align: center;
}

.btn a {
  color: #fff;
  width: 100%;
  display: block;
}
